
{% extends 'core/base.html' %}

{% block title %}Acerca de...{% endblock %} 

{% block background %} {% load static %} {% static 'core/img/about-bg2.jpg' %}{% endblock %}

{% block headers %} 
      <h1>Acerca de</h1>
      <span class="subheading">Nuestra Empresa</span>
{% endblock %}

{% block content %} 
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">MundoDeco</h2>   
          <p>Desde nuestros humildes comienzos en 2021, hemos ampliado significativamente nuestra coleccion de productos exlusivos.</p>
          <p>Hoy estamos orgullosos de presentarles nuestras mejores soluciones de diseño de PVC y otro materiales.</p>
        </div>
      </div>  
    </div>
{% endblock %}




