{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %} 

{% block background %} {% load static %} {% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %} 
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %} 
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Alguna pregunta o sugerencia? Ponte en contacto con nosotros!</p>
          <br>
          <p><b>Teléfono:</b> +099 768 8844</p>
          <p><b>Correo:</b> Mundodeco@gmail.com</p>
          <p><b>Dirección:</b> AV. 15 de Abril y Calle Baltazar Garcia</p>
        </div>
      </div>
    </div>
{% endblock %}


